#CORE
group = core
admin-port = 13000
smsbox-port = 13001
admin-password = passwd
status-password = passwd
log-file = "/var/log/kannel/kannel.log"
log-level = 1
access-log = "/var/log/kannel/access.log"
store-location = "/var/log/kannel/kannel.store"

# SMSC Fake
#group = smsc
#smsc = fake
#host = localhost
#port = 13013
#SMSC modem gsm
group = smsc
smsc = at
host = 127.0.0.1
port = 13013
smsc-id = huawei
modemtype = huawei
device = /dev/ttyUSB0
speed = 9600
sms-center = +923455000010
my-number = +923474495042
group = modems
id = huawei
name = huawei
detect-string = huawei
init-string = “AT+CNMI=2,1,0,0,0;+CMEE=1″

# SMSBOX SETUP
group = smsbox
bearerbox-host = localhost
sendsms-port = 13013
sendsms-chars = "0123456789+"
global-sender = +000000000
log-level = 1
log-file = "/var/log/kannel/smsbox.log"
access-log = "/var/log/kannel/access.log"

# SEND-SMS USERS
group = sendsms-user
username = user
password = passwd

# SMS SERVICE 'Default'
group = sms-service
keyword = default
accept-x-kannel-headers = true
max-messages = 100
assume-plain-text = true
catch-all = true
get-url = “http://remot.host.com/geturl.php?t=%t&q=%q&a=%a”